<div class="row">
  <div class="col-xs-12" cc>
    <img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{selectedRecipe?.name}}</h1>
  </div>
  <div class="col-xs-12">
    <button class="btn btn-success">To Shopping List</button>
    <button class="btn btn-primary">Edit</button>
    <button class="btn btn-danger">Delete</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{selectedRecipe?.description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Ingredients
  </div>
</div>
<form class="col-md-5" (ngSubmit)="addRecipe(f)" #f=ngForm>
    <div class="form-group">
        <label for="rname">Recipe Name</label>
        <input type="text" #name=ngModel ngModel minlength=3 name="rname" required class="form-control" id="rname"/>
    </div>
    <div *ngIf=name.invalid>
    <div *ngIf=name.errors.required> Name cannot be blank!</div>
    <div *ngIf=name.errors.minlength> Name should be of minimum 3 characters</div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" #email=ngModel ngModel name="email" email required class="form-control" id="email"/>
    </div>
    <div *ngIf=email.invalid>
    <div *ngIf=email.errors.required> Email cannot be blank!</div>
    <div *ngIf=email.errors.email> Email is incorrect!</div>
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="text" #price=ngModel required ngModel name="price" class="form-control" id="price"/>
    </div>
    <div *ngIf=!price.valid> Price cannot be blank!</div>
    <div class="form-group">
        <label for="ingredients">Ingredients</label>
        <input type="text" #ingredients=ngModel required ngModel name ="ingredients" class="form-control" id="ingredients"/>
    </div>
    <div *ngIf=!ingredients.valid> Ingredients cannot be blank!</div>
    <button type="submit" [disabled] = '!f.valid' class="btn btn-primary">Submit</button>
</form>
<button (click) = "loadRecipe()" class="btn btn-success">Load Data</button>
<ul>
    <li *ngFor="let recipe of loadedRecipes">
        {{recipe.rname}}, {{recipe.email}}, {{recipe.price}}        
    </li>
</ul>