<a href="#" class="list-group-item clearfix">
  <div class="pull-left">
    <h4 class="list-group-item-heading">{{recipe.name}}</h4>
    <p class="list-group-item-text">{{recipe.description|description:10}}</p>
    <p class="list-group-item-text">{{recipe.offerdate}}</p>
    <p class="list-group-item-text">{{recipe.expirydate|date:'MM/yy'}}</p>
    <p class="list-group-item-text">{{recipe.price|currency:'EUR'}}</p>
  </div>
  <span class="pull-right">
      <img class="img-responsive"
           src="{{recipe.imagePath}}"
           style="max-height: 50px;"/>
  </span>
  <span class="pull-right">
      <i class="glyphicon glyphicon-heart" [class.highlighted]="isLike" (click)="onClick()"></i>
      <p class="list-group-item-text">{{recipe.ratings}}</p>
  </span>
</a>
